body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
  }

  #carousel-container {
   
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
  }

  #image-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-image {
    width: 20%; /* Adjust this value based on the width of your slides */
    height: auto;
  }

  #arrow-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    flex-direction: column;
  }

  .arrow-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .arrow-button:focus {
    outline: none;
  }